.main-bangali-card{
 position: relative;
 /* background: #090221; */
 margin-bottom: 100px;

}


.main-bangali-card:hover img{
   transform: scale(1.1);
}

.bangali-card{
 position: relative;
 width: 250px;
 height: 300px;
 background: #fff;
 border-radius: 10px;
 display: flex;
 align-items: flex-end;
 overflow: hidden;
}


.bangali-card-content{
 width: 100%;
 height: 150px;
 padding: 0 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: 'popins', sans-serif ;
}

.bangali-card-content p{
   font-size: 1.5rem;
   color: #858585;
}
.bangali-card-content  .detail{
 width: 100%;
 display: flex;
 justify-content: space-between;
}

.bangali-card-content  .detail span{
 color: yellow;
}

.bangali-card-content button{
   width: 100%;
   height: 45px;
   outline: none;
   border: none;
   background: #4e944f;
  
   font-family: 'popins', sans-serif;
   cursor: pointer;
   color: #fff;
   font-weight: 500;
   font-size: 1rem;
   border-radius: 5px;
}


.main-bangali-card .main-bangali-card-image-dev{
 position: absolute;
 width: 150px;
 height: 150px;
 top: -20%;
 left: 20%;
 z-index: 1;
 transition: .2s;
 -webkit-filter: drop-shadow(0, 8px, 16px, rgba(0,0,0, .3));
}

.main-bangali-card .main-bangali-card-image-dev img{
 width: 100%;
 height: 100%;
 border-radius: 50%;
 
}